:root{
  --lightgreen : #000000;
  --orange: #000000;
  --bg:#cd93f1;
  --primarytext: #000000;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'popins', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #5f4b6c;
}
header{
  padding: 2rem 1rem;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}
header h1{
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primarytext);
  margin-bottom: 1.5rem;
}
#task-form{
  display: flex;
}

input,button{
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#task-input{
  flex: 1 1 0%;
  background-color: var(--bg);
  padding: 1rem;
  border: 1px solid var(--primarytext);
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--primarytext);
  font-size: 1.5rem;
}
#task-input::placeholder{
  color: var(--primarytext);
}
#task-submit{
  color: var(--primarytext);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid var(--primarytext);
  border-radius: 1rem;
  padding: 1rem;
}

#task-submit:hover{
  opacity: 0.8;
}

#task-submit:active{
  opacity: 0.6;
}
.container{
  background: var(--bg);
  flex: 0% 1 0%;
  max-width: 750px;
  width: 100%;
  margin: 1rem auto;
  border-radius: 2rem;
}
main{
  flex: 1 1 0%;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.task-list{
  padding: 1rem;
}

#tasks .task{
  display: flex;
  justify-content: space-between;
  background-color: var(--bg);
  border: 1px solid var(--orange);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#tasks .task .content{
  flex: 1 1 0%;
}
#tasks .task .content .text{
  color: var(--primarytext);
  font-size: 1.13rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}
#tasks .task .content .text:not(:read-only){
  color: var(--lightgreen);
}
#tasks .task .actions{
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  margin: 0 0.5rem;
  text-transform: uppercase;
  transition: 0.4s;
}
.task .actions button:hover{
  opacity: 0.8;
}

.task .actions button:active{
  opacity: 0.6;
}
.task .actions .Edit{
  color: var(--lightgreen);
}
.task .actions .Delete{
  color: crimson;
}
.task .actions .Completed{
  color: var(--orange)
}

.strike {
  text-decoration: line-through;
}