body {
    font-family: 'popins', sans-serif;
    background-color: rgb(94, 70, 108);
}

.container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

.calculator {
    width: 320px;
    height: 520px;
    background-color: rgb(201, 136, 237);
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(150, 150, 150, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
    height: 120px;
}

.history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:  rgb(94, 70, 108);
}

.output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number {
    background-color: #dcdcdc;
}

.empty {
    background-color: rgb(145, 72, 184);
}

.operator {
    background-color: rgb(145, 72, 184);
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

.operator:nth-child(4) {
    font-size: 20px;
    background-color: rgb(145, 72, 184);
}

.operator:nth-child(8) {
    font-size: 20px;
    background-color: rgb(145, 72, 184);}

.operator:nth-child(12) {
    font-size: 20px;
    background-color: rgb(145, 72, 184);}

.operator:nth-child(16) {
    font-size: 20px;
    background-color: rgb(145, 72, 184);}

.operator:nth-child(20) {
    font-size: 20px;
    background-color: rgb(145, 72, 184);}